/* custom.css create by Noah Keck */

:root {
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.navbar {
  position: fixed;
  padding: 1rem;
  width: 100%;
  background-color: black;
  box-shadow: 0.1em 0.1em .25em #111111;
  word-spacing: 1.5rem;
}
.navbar a {
  color: #95b3ff;
}
.resume {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
.resume p {
  line-height: 80%;
}
.indent {
  text-indent: 1.5rem;
}
.logo {
	line-height: 100px;
	font-size: 54px;
	letter-spacing: 0.2em;
	border-radius: 3em 1em 2em 0.5em;
	background: linear-gradient(#95b3ff, #3437f2);
	color: #f7e1b0;
	font-family: serif;
	font-weight: bold;
	box-shadow: 0.1em 0.1em .25em #121e82;
	text-shadow: 0em 0em .5em #dfe6ca;
	border-left: solid #0f7105 5px;
	font-style: italic;
  text-align: center;
  float: right;
  padding: 0.3em 0.5em 0.5em 1em;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4 {
  font-family: Verdana, sans-serif;
}

h2 {
  font-style: italic;
  font-weight: lighter;
}

a {
  color: #7e8ab4;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #62768e;
  text-decoration: underline;
}

html {
  display: block;
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
}
body {
  background-color: #f7e1b0;
  margin: 0;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  width: 100%;
}
main {
  padding-top: 2.75rem;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}
.profile {
  max-width: 300px;
}
.container {
  width: auto;
  padding: 1rem 1.25rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 520px) {
  .container {
    padding: 1rem 5rem;
  }
}

/* SOCIAL MEDIA LINKS
/* Shoutout to http://ianlunn.github.io/Hover/ for link hover tricks
------------------------------------------------------------------- */
.social {
  margin-bottom: 0.25rem;
  padding-bottom: 1rem;
}
.social a {
  font-size: 1.5rem;
  margin: 0.25rem 0.5rem;
  text-decoration: none;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.social a:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
